.App-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* overflow: hidden; */
}

.central-logo {
    position: absolute;
    height: 70vmin;
    /* max-height: 300px; */
    pointer-events: none;
}

.anim-logo {
    animation: animLogo 1s ease-in;
    animation-fill-mode: forwards;
}

.content-holder {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 50vmin;
    height: 50vmin;
    /* background: white; */

    background-image: url('../../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes animLogo {
    0% {
        height: 70vmin;
        opacity: 1;
    }

    90% {
        height: 250vmin;
        opacity: 0;
    }

    100% {
        height: 250vmin;
        opacity: 0;
    }
}

.anim-logo-hole {
    animation: animLogoHole 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes animLogoHole {
    0% {
        height: 70vmin;
    }

    90% {
        height: 250vmin;
    }

    100% {
        height: 250vmin;
    }
}

.anim-content-holder {
    animation: animContentHolder 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes animContentHolder {
    0% {
        width: 50vmin;
        height: 50vmin;
    }

    90% {
        width: 160vmin;
        height: 200vmin;
    }

    100% {
        width: 160vmin;
        height: 200vmin;
    }
}