.red-button {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    top: 20px;
    left: 20px;
}

.yellow-button {
    position: absolute;
    height: 20vmin;
    bottom: 20px;
    left: 10px;
}

.zip {
    height: 20vmin;
    top: 20px;
    right: 20px;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
}