@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.App {
  text-align: center;
}

.central-logo {
  height: 70vmin;
  max-height: 300px;
  pointer-events: none;
}

.red-button {
  position: absolute;
  height: 20vmin;
  top: 20px;
  left: 20px;
}

.yellow-button {
  position: absolute;
  height: 20vmin;
  top: 20px;
  margin: 0 auto;
}

.zip {
  position: absolute;
  height: 20vmin;
  top: 20px;
  right: 20px;
}

.rubriques {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  color: black;
  top: 100px;
  left: 20px;
  font-size: 20px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
